/* MUI color scheme variables */

:root {
  --main-bg-color: #bbdefb;
  --border-color: #616161;
}

.App {
  /* background-color: var(--main-bg-color); */
  background-image: url("./assets/ffflux.svg");
  background-size: cover;
}
